<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="top-section">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/EI.png" width="200" class="d-inline-block align-middle" alt="">
        </a>
      </nav>
      
      <div class="login">
        <h2 class="headline">The University of Edinburgh’s Entrepreneurial Community</h2>
        <h6 style="margin-top:30px">An online community that connects entrepreneurially minded students at the University of Edinburgh.</h6>
      </div>
      
      <div class="login text-center">
        <img src="/EASE.PNG" class="EASE" alt="">
      </div>
      
      <div class="social">
        <a class="btn btn-outline-primary" href="https://www.facebook.com" role="button"><i class="fab fa-facebook-square"></i></a>
        <a class="btn btn-outline-primary" href="https://www.instagram.com" role="button"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    
     <div class="col-md-6 text-center right" id="benefits-color">
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fab fa-facebook-messenger"></i>
            </div>
            <h6 class="benefit">Upload your project, and broadcast it to fellow students with the right skills to help build it.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <h6 class="benefit">Create a user profile and communicate your skills to join startup opportunities.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fas fa-comments" data-fa-transform="shrink-8"></i>
            </div>
            <h6 class="benefit">Connect to other students and discuss your projects, ask questions, and give advice.</h6>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>