<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/pigeon.png"width="40" height="40" class="d-inline-block align-middle" alt="">
          Online Community
        </a>
      </nav>
      
      <div class="login">
        <h2 class="headline">University of Edinburgh Entreprenurial Community</h2>
        <h6 style="margin-top:30px">Unify allows you to easily find, join, and discover all the essential university group chats relevant to you.</h6>
      </div>
    </div>
    
     <div class="col-md-6 text-center right">
      <div class="row">
        <div class="col-md-12 row-height">
        </div>
      </div>
    </div>
    
  </div>
</div>