<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="left">
      
      <nav class="navbar navbar-light bg-white" id="logos">
        <a class="navbar-brand" href="/">
          <img src="/EI.png" aligh="left:0" width="200" alt="">
          <img src="/UoE.png" style="right:0" width="200" alt="">
        </a>
      </nav>
      
      <div class="col-md-12">
        <div class="login">
          <h2 class="headline">The University of Edinburgh’s Entrepreneurial Community</h2>
          <h5>An online community that connects entrepreneurially minded students at the University of Edinburgh.</h5>
        </div>
        
        <div class="login text-center">
          <a href="/opportunities"><img src="/EASE.PNG" class="EASE" alt=""></a>
        </div>
      </div>
      
      <div class="social">
        <a class="btn btn-outline-primary" href="https://www.facebook.com" role="button"><i class="fab fa-facebook-square"></i></a>
        <a class="btn btn-outline-primary" href="https://www.instagram.com" role="button"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    
     <div class="col-md-6 text-center right" id="benefits-color">
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fab fa-facebook-messenger"></i>
            </div>
            <h5 class="benefit">Upload your project, and broadcast it to fellow students with the right skills to help build it.</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <h5 class="benefit">Create a user profile and communicate your skills to join startup opportunities.</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="vertical">
            <div class="fa-3x icons">
              <i class="fas fa-comments" data-fa-transform="shrink-8"></i>
            </div>
            <h5 class="benefit">Connect to other students and discuss your projects, ask questions, and give advice.</h5>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>