<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/EI.png" width="200" class="d-inline-block align-middle" alt="">
        </a>
      </nav>
      
      <div class="login">
        <h2 class="headline">The University of Edinburgh’s Entrepreneurial Community</h2>
        <h6 style="margin-top:30px">An online community that connects entrepreneurially minded students at the University of Edinburgh.</h6>
      </div>
      
      <div class="login text-center">
        <img src="/EASE.PNG" class="EASE" alt="">
      </div>
      
      <div class="social">
        <a class="btn btn-outline-primary" href="https://www.facebook.com" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="https://www.instagram.com" role="button"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
    
     <div class="col-md-6 text-center right">
      <div class="row">
        <div class="col-md-12 row-height">
        </div>
      </div>
    </div>
    
  </div>
</div>