<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-login">
  <a class="navbar-brand" href="/">
    <img src="/EI-Square.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/opportunities">Opportunities<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="/profiles">Profiles</a>
    <a class="nav-item nav-link" href="https://www.tinyurl.com/launchedgroup" target="_blank">Chat</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="btn btn-outline-primary" href="/upload" role="button" style="margin-right:10px"><i class="fas fa-plus"></i></a>
      </li>
      <li class="nav-item">
         <a class="btn btn-outline-success" href="/user" role="button" style="margin-right:10px"><i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="/" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 navbar-align">
        <h5>Account Settings</h5>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-3 navbar-align">
        <h6><a href="/user">Profile</a></h6>
        <h6 style="margin-top:20px; font-weight: 700;"><a href="">Login</a></h6>
      </div>
      
      <div class="col-md-9" style="padding-top:5vh">
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <form style="font-weight:700">
                <div class="form-group">
                  <label for="InputEmail1">Email Address</label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="jj.mcmillan.97@gmail.com">
                </div>
                <div class="form-group">
                  <label for="InputPassword1">Password</label>
                  <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="InputPassword1">New Password</label>
                  <input class="form-control" id="InputPassword1" placeholder="New password">
                </div>
                <div class="form-group">
                  <input class="form-control" id="InputPassword1" placeholder="Repeat new password">
                </div>
                <a href="#" class="btn btn-primary" id="save-changes">Save Changes</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
