<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-login">
  <a class="navbar-brand" href="/">
    <img src="/EI-Square.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/opportunities">Opportunities<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="">Profiles</a>
    <a class="nav-item nav-link" href="https://www.tinyurl.com/launchedgroup" target="_blank">Chat</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="btn btn-outline-primary" href="/upload" role="button" style="margin-right:10px"><i class="fas fa-plus"></i></a>
      </li>
      <li class="nav-item">
         <a class="btn btn-outline-success" href="/user" role="button" style="margin-right:10px"><i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="/" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-3 navbar-align">
      <h5>Skills...</h5>
      <br />
      <i class="far fa-square"></i> <h7>Marketing</h7>
      <br />
      <i class="far fa-square"></i> <h7>Coding</h7>
      <br />
      <i class="far fa-square"></i> <h7>Sales</h7>
    </div>
    
    <div class="col-md-9 projects">
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-light text-center">
            <div class="card-body">
              <i class="fas fa-user fa-8x" style="margin-bottom:20px;"></i>
              <h5 class="card-title">Jack McMillan</h5>
              <p class="card-text">Front-End Web Developer</p>
              <div style="text-align: left;">
                <p class="card-text" style="font-weight: 700;">Skills:</p>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>GitHub</li>
                </ul>
                <p class="card-text" style="font-weight: 700;">Bio:</p>
                <p class="card-text">I would love to join a startup because I want to be a play a role in building the foundations of a company. I have experience with designing user interfaces.</p>
              </div>
              <a href="#" class="btn btn-primary" style="margin-top:20px">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-light text-center">
            <div class="card-body">
              <i class="fas fa-user fa-8x" style="margin-bottom:20px; color: red"></i>
              <h5 class="card-title">Kara Prentice</h5>
              <p class="card-text">Marketing</p>
              <div style="text-align: left;">
                <p class="card-text" style="font-weight: 700;">Skills:</p>
                <ul>
                  <li>SalesForce</li>
                  <li>Instagram</li>
                  <li>Facebook Advertisements</li>
                </ul>
                <p class="card-text" style="font-weight: 700">Bio:</p>
                <p class="card-text">I have five years experience working part-time in the marketing department of a large company. I am looking to find a project that I can become involved with, and contribute.</p>
              </div>
              <a href="#" class="btn btn-primary" style="margin-top:20px">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-light text-center">
            <div class="card-body">
              <i class="fas fa-user fa-8x" style="margin-bottom:20px; color: blue"></i>
              <h5 class="card-title">Michael Lam</h5>
              <p class="card-text">Graphic Designer</p>
              <div style="text-align: left;">
                <p class="card-text" style="font-weight: 700;">Skills:</p>
                <ul>
                  <li>Adobe Photoshop</li>
                  <li>HTML & CSS</li>
                  <li>Javascript</li>
                </ul>
                <p class="card-text" style="font-weight: 700;">Bio:</p>
                <p class="card-text">I would love to join a startup because I want to be a play a role in building the foundations of a company. I have experience with designing user interfaces.</p>
              </div>
              <a href="#" class="btn btn-primary" style="margin-top:20px">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-light text-center">
            <div class="card-body">
              <i class="fas fa-user fa-8x" style="margin-bottom:20px; color: yellow"></i>
              <h5 class="card-title">James Singh</h5>
              <p class="card-text">iOS Developer</p>
              <div style="text-align: left;">
                <p class="card-text" style="font-weight: 700;">Skills:</p>
                <ul>
                  <li>Swift</li>
                  <li>GitHub</li>
                  <li>Prototyping</li>
                </ul>
                <p class="card-text" style="font-weight: 700">Bio:</p>
                <p class="card-text">I have five years experience working part-time in the marketing department of a large company. I am looking to find a project that I can become involved with, and contribute.</p>
              </div>
              <a href="#" class="btn btn-primary" style="margin-top:20px">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="footer text-center">
  <div class="footer-above">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright © Edinburgh Innovations 2019. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>