<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-login">
  <a class="navbar-brand" href="/">
    <img src="/EI-Square.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/opportunities">Opportunities<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="/profiles">Profiles</a>
    <a class="nav-item nav-link" href="https://www.tinyurl.com/launchedgroup" target="_blank">Chat</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="btn btn-outline-primary" href="/upload" role="button" style="margin-right:10px"><i class="fas fa-plus"></i></a>
      </li>
      <li class="nav-item">
         <a class="btn btn-outline-success" href="/user" role="button" style="margin-right:10px"><i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="/" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 navbar-align">
        <h5>Account Settings</h5>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-3 navbar-align">
        <h6 style="font-weight: 700;"><a href="">Profile</a></h6>
        <h6 style="margin-top:20px;"><a href="/login">Login</a></h6>
      </div>
      
      <div class="col-md-9" style="padding-top:5vh">
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <form style="font-weight:700">
                <div class="form-group">
                  <label for="InputEmail1">Name</label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Jack McMillan">
                </div>
                <div class="form-group">
                  <label for="InputRole1">Role</label>
                  <input type="password" class="form-control" id="InputRole1" placeholder="UI Designer">
                </div>
                <div class="form-group">
                  <label for="InputSkill">Skills</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">1)</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="HTML">
                  </div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">2)</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="CSS">
                  </div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">3)</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="GitHub">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleBio1">Bio</label>
                  <textarea class="form-control" id="exampleBio1" rows="3">I would love to join a startup because I want to be a play a role in building the foundations of a company. I have experience with designing user interfaces.</textarea>
                </div>
                <div class="form-group">
                  <label for="InputContact1">Contact Email</label>
                  <input type="email" class="form-control" id="InputContact1" placeholder="jj.mcmillan.97@gmail.com">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Make my profile visible!</label>
                </div>
                <a href="#" class="btn btn-primary" id="save-changes">Save Changes</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
