/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3 {
  font-family: 'Roboto', sans-serif; font-weight:700;
}

h6 {
  font-family: 'Roboto', sans-serif; font-weight:400;
  font-size: 1.2em;
}

#left {
  min-height: 100vh;
}

#logos {
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-brand {
  font-weight:700;
}

.headline {
  margin-top: 20vh;
  margin-right: 10vh;
}

.login {
  margin-left: 50px;
  margin-right: 50px;
}

.email {
  background-color: #D9D8D8;
  padding:15px;
  width:300px;
  margin-top: 20px;
  border-radius: 10px;
}

.email-button {
  margin-left:auto; 
  margin-right:0;
}

.right {
  background-color: #2B47FF;
  height:100vh;
}

.row-height {
  height:33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  max-width: 50%;
}

#benefits-color {
  color: white;
}

.EASE {
  width: 550px;
  margin-top: 50px;
}

.social {
  position: absolute;
  bottom: 4%;
}


/* Login Page */

#navbar-login {
  padding-left: 15vw;
  padding-right: 15vw;
}

.looking-for {
  padding-left: 15vw;
  padding-top: 5vh;
}

.projects {
  padding-right: 15vw;
  padding-top: 5vh;
}

#projectpic {
  height: 400px;
}